<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Sitecore.Foundation.SitecoreSend.ServiceConfigurator, Sitecore.Foundation.SitecoreSend"/>
    </services>
  </sitecore>
</configuration>